.username{
    text-transform: uppercase;
    color: white;
    font-size: medium;
}

.active{
    color: #386BF6;
}

.inactive{
    color: #404040;
}
.logo{
    font-size: x-small;
    color: white;
    cursor: pointer;
}

.abrev{
    font-size: x-large;
    color: #fff;
    font-weight: 700;
}